<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="Perform all requests">
    <test name="Perform all requests">
        <packages>
            <package name="BodyTests"/>
            <package name="HeaderTests"/>
        </packages>

    </test>
</suite>